/* Base theme */
@import url('https://zuzumi-f.github.io/pc-fluenticons/src/fluenticons-base.css');

/* Addons (comment to disable) */

/* Settings icons */
@import url("https://zuzumi-f.github.io/pc-fluenticons/src/fluenticons-settings.css");

/* Context icons */
@import url("https://zuzumi-f.github.io/pc-fluenticons/src/fluenticons-context.css");

/* ↓  Any modifications go below  ↓ */

/* fluent icons extra */
.icon-1d5zch path {
    d: path('M18.75 3.501A3.25 3.25 0 0 1 22 6.751v10.503a3.25 3.25 0 0 1-3.25 3.25H5.25A3.25 3.25 0 0 1 2 17.254V6.75A3.25 3.25 0 0 1 5.25 3.5h13.5Zm0 1.5H5.25a1.75 1.75 0 0 0-1.75 1.75v10.503c0 .966.784 1.75 1.75 1.75h13.5a1.75 1.75 0 0 0 1.75-1.75V6.75A1.75 1.75 0 0 0 18.75 5ZM8.015 8.872c.596 0 1.019.082 1.502.314a.625.625 0 0 1-.541 1.127c-.3-.144-.54-.19-.961-.19-.867 0-1.504.796-1.504 1.872 0 1.077.638 1.876 1.504 1.876.428 0 .791-.18.98-.501L9 13.355v-.734h-.376a.625.625 0 0 1-.618-.532L8 11.997c0-.314.231-.574.533-.619l.092-.006h1.002c.314 0 .573.23.618.532l.007.093-.002 1.547-.006.056-.021.09-.02.055c-.377.89-1.241 1.376-2.188 1.376-1.626 0-2.754-1.413-2.754-3.126 0-1.713 1.127-3.123 2.754-3.123Zm4.614.122c.314 0 .574.232.618.533l.007.092v4.763a.625.625 0 0 1-1.243.092l-.007-.092V9.619c0-.345.28-.625.625-.625Zm2.996 0 1.997.007a.625.625 0 0 1 .088 1.244l-.092.006-1.371-.005V12h1.123c.314 0 .574.232.618.534l.007.092a.625.625 0 0 1-.533.618l-.092.007-1.123-.001v1.115a.625.625 0 0 1-.532.619l-.092.006a.625.625 0 0 1-.619-.532l-.006-.093V9.617a.625.625 0 0 1 .534-.616l.093-.007Z');
    transform: translate(-6%, -1px) scale(110%);
}

.icon-tZV_7s path {
    d: path('M13 7a6 6 0 1 0-5.746 5.995A4.472 4.472 0 0 1 7.027 12H7a5 5 0 1 1 5-5v.027c.345.039.678.116.995.227C12.998 7.17 13 7.085 13 7Zm-5.888 3.498c.084-.368.212-.719.38-1.046a2.493 2.493 0 0 1-2.356-.785.5.5 0 0 0-.745.666 3.493 3.493 0 0 0 2.72 1.165ZM6 6a.75.75 0 1 1-1.5 0A.75.75 0 0 1 6 6Zm2.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 11.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3-2a.5.5 0 0 0-1 0V11H9.5a.5.5 0 0 0 0 1H11v1.5a.5.5 0 0 0 1 0V12h1.5a.5.5 0 0 0 0-1H12V9.5Z');
    transform: translate(-7%, -7%) scale(172%);
}

[d='M21 3V0H19V3H16V5H19V8H21V5H24V3H21Z'] {
    color: transparent;
}
